*{ 
	margin: 0; 
	padding: 0; 
	outline: 0; 
}

body, html{ 
	height: 100%; 
}

body{
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    color: #808080;
    background: rgb(245,245,245);
    min-width: 950px;
}

a { 
	color: #65cbf8; 
	text-decoration: none; 
	cursor: pointer; 
}
a:hover { 
	text-decoration: underline; 
}
a img { 
	border: 0; 
}

article, aside, details, footer, header, menu, nav, section { 
	display: block; 
}
input, textarea, select { 
	font-size: 12px; 
	font-family: arial, sans-serif; 
}
textarea { 
	overflow: auto; 
}

.shell { 
	margin: 0 auto; 
	width: 950px; 
}

.header { 
	background: rgb(237,237,237);
	height: 60px; 
	padding: 29px 0 0 0;  
}

#logo { 
	width: 171px; 
	float: left; 
}
#logo a { 
	height: 28px; 
	display: block; 
	background: url(../images/logo.png) no-repeat 0 0; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -4000px; 
}

#navigation { 
	float: right; 
	padding-top: 8px;  
}
#navigation ul { 
	list-style: none; 
	list-style-position: outside; 
	font-size: 11px; 
	text-transform: uppercase; 
	font-weight: bold; 
}
#navigation ul li { 
	float: left; 
	padding: 0 0 0 44px; 
}
#navigation ul li a { 
	color: #77777b;
}
#navigation ul li a:hover, #navigation ul li.active a {
	color: #2497e0; 
	text-decoration: none; 
}

.main { 
	padding-top: 42px;  
}

/*html, body { height: 100%; }*/

#wrapper { 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	margin: 0 auto -279px; 
}

#footer{  height: 50px; padding-top: 32px;  }
#footer h4 { color: #fff; font-size: 15px; font-weight: bold; text-transform: uppercase; padding-bottom: 22px; }
#footer { background: url(../images/footer.png) repeat-x 0 0; }

#footer p.copy { float: right; color: #fff; }
#footer p.copy a { color: #fff; text-decoration: underline; }
#footer p.copy a:hover { text-decoration: none; }








/*body{
	margin: 0;
	border: 0;
}

header{
	height: 50px;
	width: auto;
	border-bottom: 1px solid black;
	padding-top: 3px;
	padding-right: 10px;
	margin: 0 auto;
	text-align: center;
}

header .first_ul li{
	list-style-type: none;
	display: inline;
}

.s1{
	float: right;
}

.form_log{

}


header .first_ul li a{
	text-decoration: none;
	color: black;
	font-family: "Helvetica";
}

#main div{
	width: 450px;
	height: 200px;
	background-color: blue;
	opacity: 0.5;
	color: white;
	padding: 15px;
	margin: 15px;
	border: 1px solid black;
	border-radius: 15px;
}

footer{
	height: 50px;
	width: auto;
	border: 0;
	background-color: #696969;
	margin: 0;
}*/